<div class="nested-fields">
  <!-- 優先番号「1」を入力 -->
  <%= f.hidden_field :address_priority, value: '1' %>
  <%= f.label :postcode %><br>
  <%= f.text_field :postcode %><br>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
</div>