<h1>購入履歴ページ</h1>

<table class="table">
  <thead>
    <tr>
      <th>会計番号</th>
      <th>購入日</th>
      <th>総計</th>
      <th>配送ステータス</th>
    </tr>
  </thead>

  <tbody>
  <% @purchase_histories.each do |purchase_history| %>
    <tr>
      <td><%= link_to purchase_history.id, purchase_history_path(purchase_history.id) %></td>
      <td><%= purchase_history.created_at %></td>
      <td><%= purchase_history.total_price %></td>
      <td><%= purchase_history.delivery_status %></td>


    </tr>
  </tbody>

  <% end %>

</table>

<%= paginate @purchase_histories, class: "paginate" %>

