

<!-- 購入確認ページ -->

<h1>購入確認画面</h1>


<table class="table">
  <thead>
    <tr>
      <th>ジャケ写</th>
      <th>シングルアルバム名</th>
      <th>アーティスト名</th>
      <th>枚数</th>
      <th>小計</th>
    </tr>
  </thead>
  


  <% @carts.each do |cart| %>
    <tbody>
        <% if cart.check == true %>
          <tr>
            <td><%= attachment_image_tag cart.product, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
            <td><%= cart.product.single_album_name %></td>
            <td><%= cart.product.artist.artist_name %></td>
            <td><%= cart.purchase_quantity %>枚</td>
            <td>
              <%= cart.product.price * cart.purchase_quantity %>円
            </td>
          </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<table class="table">
  <tbody>
    <tr>
      <td>送料</td>
      <td>500円</td>
    </tr>
    <tr>
      <td>総計</td>
      <td><%= @purchase_history.total_price %>円
      </td>
    </tr>
  </tbody>
</table>

<h2>総計</h2>





<%= form_for @purchase_history do |f| %>

  <!--  配送ステータス「受付中(＝1)を送信」 -->
  <%= f.hidden_field :delivery_status, :value => '1' %>

  <div>
    <h4>お届け先住所</h4>
    <% current_user.addresses.each do |address| %>
      <% if address.address_priority == 1 %>
        <label>
          <!-- ラジオボタンが１つしか値を送信できない？ため購入時の選択した住所Idを渡す -->
          <%= f.radio_button :purchase_address_id, address.id , checked: true%>
          <%= address.postcode %> / <%= address.address %>
        </label>
      <% end %>
    <% end %>
  </div>

  <div>
    <h4>支払い選択</h4>
    <label>
      <%= f.radio_button :payment_status, '1', checked: true %> 銀行振込
    </label>
    <label>
      <%= f.radio_button :payment_status, '2' %> クレジットカード
    </label>
    <label>
      <%= f.radio_button :payment_status, '3' %> 代引
    </label>
  </div>

  <%= f.submit '購入確定' %>

<% end %>


