<h2>ユーザー一覧</h2>

<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= user.user_firstname %>
    <%= user.user_lastname %>
    <%= user.email %><br>
  <% end %>
<% end %>

<%= paginate @users, class: "paginate" %>