
<h2>マイページ</h2>

<%= @user.user_firstname %>
<%= @user.user_lastname %><br>
<%= @user.user_firstname_kana %>
<%= @user.user_lastname_kana %><br>
<%= @user.phone_number %><br>

<% @user.addresses.each do |address| %>
  <%= address.postcode %><br>
  <%= address.address %><br>
<% end %>

<p>
  <%= link_to '編集', edit_user_path(@user) %>
  <%= link_to '退会', user_registration_path(@user), method: :delete, "data-confirm" => "Are you sure?"%>
</p>

<%= link_to '購入履歴', purchases_histories_path, class:"btn btn-primary col-xs-5" %>