
<h2>マイページ</h2>

<%= @user.id %>

<%= @user.email %>

<%= @user.user_lastname_kana %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

