
<h2>マイページ</h2>

<table class="table">
	<thead>
		<tr>
			<th>姓</th>
			<th>名</th>
			<th>セイ</th>
			<th>メイ</th>
			<th>電話番号</th>
			<th>郵便番号 / 住所(メイン)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.user_lastname %></td>
			<td><%= @user.user_firstname %></td>
			<td><%= @user.user_lastname_kana %></td>
			<td><%= @user.user_firstname_kana %></td>
			<td><%= @user.phone_number %></td>
			<td>
				<% @user.addresses.each do |address| %>
					<!-- 優先番号「1」のメイン住所のみ表示 -->
					<% if address.address_priority == 1 %>
				  	<%= address.postcode %>
				  	<%= address.address %>
				  <% end %>
				<% end %>
			</td>
			<!-- 退会していたら表示 -->
			<% if @user.deleted_at %>
				<td>退会済み( <%= @user.deleted_at.strftime('%Y/%m/%d')%> )</td>
			<% end %>
		</tr>
	</tbody>
</table>

<!-- 退会してない場合のみ表示 -->
<% if @user.deleted_at.nil? %>
	<p>
	  <%= link_to '編集', edit_user_path(@user) %>
	  <%= link_to '退会', user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</p>
<% end %>

<%= link_to '購入履歴', purchase_histories_path, class:"btn btn-primary col-xs-5" %>
