

<h2>マイページ</h2>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>

<%= @user.user_lastname %>
