<p><%= flash[:notice] %></p>
<div class="container">
  <div class="row">
    <%= form_tag update_all_path, method: :put do %>
      <table class="table">

        <thead>

          <tr>
            <th>チェック欄</th>
            <th>ジャケット画像</th>
            <th>商品名</th>
            <th>アーティスト名</th>
            <th>販売ステータス</th>
            <th>単体価格（税込）</th>
            <th>購入数</th>
          </tr>
        </thead>


        <tbody>

            <% current_user.carts.each do |cart| %>
                <%= fields_for('carts[]', cart) do |f| %>
                  <tr>
                    <td>
                      <% if cart.product.sales_status %>
                        <%= f.check_box :check ,style:"transform: scale(1.5);"%>
                      <% end %>
                    </td>
                    <td><%= attachment_image_tag cart.product, :jacket_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg", size:'70x70' %></td>
                    <td><%= cart.product.single_album_name %></td>
                    <td><%= cart.product.artist.artist_name %></td>
                    <td>
                      <% if cart.product.sales_status == true %>
                        販売中
                      <% else %>
                        販売停止中
                      <% end %>
                    </td>
                    <td><%= cart.product.price %>円</td>
                    <td><%= f.number_field :purchase_quantity, min: 1, max: cart.product.stock_quantity ,autofocus: true, :size => "4*2" %> 枚</td>
                    <td><%= link_to "削除", cart_path(cart.id), class: "btn btn-danger", method: :delete %></td>
                  </tr>
                <% end %>
                </td>
            <% end %>
            <% if current_user.carts.count > 0 %>
              <p><%= submit_tag '購入確認' %></p>
            <% end %>
            </tr>
          </thead>

        </tbody>

      </table>
    <% end %>


  </div>
</div>
