
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <table class="table table-hover table-inverse">


        <thead>
          <%= form_tag update_all_path, method: :put do %>
            <% current_user.carts.each do |cart| %>
              <tr>
                <%= fields_for('carts[]', cart) do |f| %>
                  <%= f.check_box :check %>
                  <%= cart.product.single_album_name %>
                  <%= cart.product.artist.artist_name %>
                  <%= (cart.product.price * 1.08 * cart.purchase_quantity).floor %>円
                  <%= f.number_field :purchase_quantity, autofocus: true, :size => "4*2" %> 枚
                <% end %>
                <%= link_to "削除", cart_path(cart.id), class: "btn btn-danger", method: :delete %>
              </tr>
            <% end %>
            <%= submit_tag '購入確認' %>
          <% end %>
        </thead>
      </table>
    </div>

  </div>
</div>

