<p><%= flash[:notice] %></p>
<div class="index">
	<%= search_form_for @q do |f| %>
	  <%= f.search_field :single_album_name_cont %>

	  <%= f.submit "検索", class: "btn btn-default"%>
	<% end %>
</div>

<% @products.each do |product| %>
	<div class="index">
		<%= link_to product_path(product) do %>
		<span class="image">
			<%= attachment_image_tag product, :jacket_image, :fill, 1200, 1200, format: 'jpeg', fallback: "no_image.jpg", size:'740x740', style: "border-radius: 6px;"%><br>
		</span>
			<p class="name">
				<%=  product.single_album_name %>
				/
				<%= product.artist.artist_name %>
			</p>
		<% end %>
	</div>
<% end %>

<%= paginate @products, class: "paginate" %>




