

<h1>商品一覧ページ</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :single_album_name_cont %>

  <%= f.submit "検索" %>
<% end %>

<table>


	<thead>
		<tr>
			<th>CD名</th>
			<th>アーティスト名</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @products.each do |product| %>

		<tr>
			<td><%= attachment_image_tag product, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %></td>
			<td><%= link_to product.single_album_name, product_path(product) %></td>
			<td><%= product.artist.artist_name %></td>
		</tr>
	</tbody>

	<% end %>

</table>

<%= paginate @products, class: "paginate" %>




