

<%= form_for(@product) do |f| %>

ジャケット画像
  <%= f.text_field :jacket_image %><br>

  <%= fields_for(@artist) do |a| %>
    アーティスト名
    <%= a.text_field :artist_name %><br>
  <% end %>

  レーベル名
  <%= fields_for(@label) do |l| %>
    <%= l.text_field :label_name %>
  <% end %>

  ジャンル
  <%= fields_for(@genre) do |g| %>
    <%= g.text_field :genre_name %><br>
  <% end %>

  在庫数
  <%= f.text_field :stock_quantity %><br>

  <label>
    <%= f.radio_button :sales_status, 1 %> 販売中
  </label>
  <label>
    <%= f.radio_button :sales_status, 2 %> 販売停止中
  </label><br>

  価格(税別価格)
  <%= f.text_field :price %><br>

  ディスク
  <%= fields_for(@disc) do |d| %>
    <%= d.text_field :disc_name %><br>
  <% end %>

  曲名
  <%= fields_for(@song_title) do |s| %>
    <%= s.text_field :song_title_name %><br>
  <% end %>

  <%= f.submit "追加" %>

<% end %>






