

<%= form_for(@product) do |f| %>

  <h4>ジャケット画像</h4>
  <%= f.text_field :jacket_image_id %><br>

  <h4>アーティスト名</h4>
  <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => true %>
  <%= link_to "アーティスト名追加", new_artist_path %>

  <h4>レーベル名</h4>
  <%= f.collection_select :label_id, Label.all, :id, :label_name, :prompt => true %>
  <%= link_to "レーベル名追加", new_label_path %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => true %>
  <%= link_to "ジャンル追加", new_genre_path %>

  <h4>在庫数</h4>
  <%= f.number_field :stock_quantity %><br>

  <label>
    <%= f.radio_button :sales_status, 1 %> 販売中
  </label>
  <label>
    <%= f.radio_button :sales_status, 2 %> 販売停止中
  </label><br>

  <h4>価格(税別価格)</h4>
  <%= f.number_field :price %> 円

  <h4>ディスク</h4>
  <% @discs.each do |disc| %>
    <%= disc.disc_name %> |  
    <%= link_to "ディスク削除", disc_path, method: :delete %>
  <% end %>
  <%= link_to "ディスク追加", new_disc_path %>
  <br>
  <%= f.submit "商品追加" %>

<% end %>






