
	<div class="container detail">
		<div class="col-md-7">
			<p>
				<%= @product.label.label_name %>
				から発売の
				<%= @product.single_album_name %>
				/
				歌い手は
				<%= @product.artist.artist_name %>
				です!
			</p>
			<%= attachment_image_tag @product, :jacket_image, :fill, 900, 900, format: 'jpeg', fallback: "no_image.jpg", size:'500x500', style: "border-radius: 6px;" %><br>
			<p>
				ジャンルは
				<%= @product.genre.genre_name %>
				/
				お値段はなんと
				<%= @product.price %>
				円です！
			</p><br>
			<p>在庫は<%= @product.stock_quantity %>個です </p><br>
		</div>

		<div class="col-md-5">
			<% if @product.stock_quantity >= 1 %> <!-- 在庫が0のとき -->
				<% if @product.sales_status == true %>
					<% if @product.stock_quantity <= 10 %>
						<p>販売中(残りわずか	！売り切れ御免)</p><br>
					<% else %>
						<p style="color :red">販売中</p><br>
					<% end %>
				<% elsif @product.sales_status == false %>
					<p style="color: red;">販売停止中です。ごめんなさい。</p><br>
				<% end %>
			<% else %>
				<p style="color: red;">売り切れちゃった！</p><br>
			<% end %>

			<% @product.discs.each do |disc| %>
				<p style="border-bottom: solid"><%= disc.disc_name %></p><br>
				<p>曲名は</p><br>
				<% disc.song_titles.each do |song_title| %>
					<li style="list-style-type: disc">
						<%= song_title.song_title %>
					</li><br>
				<% end %>
			<% end %>

		</div>
	</div>

<div class="kago">
	<% if administrator_signed_in? %>
		<p class="btn">
		  <%= link_to '戻る', products_path %>
		  <%= link_to "削除" ,product_path(@product), method: :delete, "data-confirm" =>
							"本当に削除しますか？" %>
		  <%= link_to '編集', edit_product_path(@product) %>
		</p>
	<% else %>

		<p id="botan">
		  <%= link_to '戻る', products_path(@user) %>
		  <% if @product.stock_quantity >= 1 %><!-- 在庫が0のとき -->
			  <%= form_for(@cart) do |f| %>
				  <%= f.hidden_field :product_id, :value => @product.id %>
				  <%= f.submit "カゴへ追加", class: "btn btn-large btn-primary" %>
			  <% end %>
			<% end %>
		</p>
	<% end %>
</div>
