<!DOCTYPE html>
<html>
  <head>
    <title>MuReco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class = "navbar navbar-default" style="background-color:black;">
      <div class = "container">
        <nav class = "nav navbar-nav navbar-left" >
          <%= link_to root_path do %>
            <span class="mu-reco">
              mu-reco
            </span>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" >
            <% if user_signed_in? %>
             <li>
                <%= link_to '商品一覧', products_path %>
              </li>
              <li>
                <%= link_to 'マイページ', user_path(current_user) %>
              </li>
              <li>
                <%= link_to 'カゴ', carts_path %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              </li>
            <% elsif administrator_signed_in? %>
              <li>
                <%= link_to '新規追加', new_product_path %>
              </li>
              <li>
                <%= link_to '商品一覧', products_path %>
              </li>
              <li>
                <%= link_to 'ユーザー情報', users_path %>
              </li>
              <li>
                <%= link_to '購入履歴', purchase_histories_path %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_administrator_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to '商品一覧', products_path %>
              </li>
              <li>
                <%= link_to '会員登録', new_user_registration_path %>
              </li>
              <li>
                <%= link_to 'ログイン', new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
